body {
    background-color: grey;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #88839d;
    height: 300px;
}
  .container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 1000px;
}
mainAside{
    background-color: #035609;
    width: 400px;
    margin-left: -200px;
    }
  
  ul {
      list-style-type: none;
    }
  .mainContainer{
      margin-left: 100px;
  }